[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = [
  "F",    # pyflakes
  "E",    # pycodestyle errors
  "W",    # pycodestyle warnings
  "I",    # isort
  "B",    # bugbear
  "UP"    # pyupgrade
]
